<nav class="navbar fixed-top navbar-dark bg-success">
  <div class="container-fluid ">
    <div class="container-md text-center">
      <a class="navbar-brand " href="#" data-bs-toggle="modal" data-bs-target="#modal" id="carrito" ><i class="fa-solid fa-cart-shopping fa-2x"></i></a>
    </div>
  </nav>
</div>


<script>



  

</script>